<link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>

<style>
  body
  {
    background-image:url("https://s3-ap-northeast-1.amazonaws.com/vindle/vindle-bg3.jpeg");
    background-repeat:repeat;
  }

  .logo {
     #font-family: 'Iceland', cursive;
     font-family: 'Prosto One', cursive;
     font-size: 48px;
  }
  .facebook-button {
    background-color: #3765a3;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow:   1px 1px 10px #CCCCCC;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 80px;
    margin-left: -185px;
    outline: medium none;
    text-decoration: none;
    border: none;
    width: auto;
    #margin: 30px;
    position: absolute;
    font-family: 'Varela', sans-serif;
    text-align: center;
  }

  .facebook-button:hover {
    text-decoration: none;
    color: #FFFFFF;
  }

  .screen {
  #visibility:hidden;
  background-color: rgba(0, 0, 0, 0.1);
  #display: inline;
  position: absolute;
  #margin-left: 43%;
  #background: #E6F8E0;
  #margin-top: 3%;
  #padding: 30px;
  width: 100%;
  height:103%;
}

  .whatIs {
  #visibility:hidden;
  font-family: 'Varela', sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline;
  position: fixed;
  margin-left: 17%;
  #background: #E6F8E0;
  margin-top: 15%;
  padding: 30px;
  width: 65%;
  height:40%;
  color: #ffffff;
  text-align: center;
}

.dot{
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:50px;
    background:red;
    border-radius:50%;
}
.sun{
    width:200px;
    height:200px;
    position:absolute;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;
    -webkit-animation-duration:5s;
    top:50px;
    left:50px;
}

@-webkit-keyframes orbit {
from { -webkit-transform:rotate(0deg) }
to { -webkit-transform:rotate(360deg) }
}

</style>

<div class="whatIs">
  <h3>Don't miss awesome videos. Vindle them ! </h3><br><br>
  <span class="logo">Vindle = Video Bundles</span><br>

  <a href="/auth/facebook/" class="facebook-button"> Check it out using Facebook !<br> <span style="font-size: 12px;">  No spam | Only basic info access </span></a><br>

</div>

<script>
$.backstretch([
      "https://s3-ap-northeast-1.amazonaws.com/vindle/vindle-bg1.jpeg"
    , "https://s3-ap-northeast-1.amazonaws.com/vindle/vindle-bg10.jpeg"
    , "https://s3-ap-northeast-1.amazonaws.com/vindle/vindle-bg9.jpeg"
    , "https://s3-ap-northeast-1.amazonaws.com/vindle/vindle-bg4.jpeg"
    , "https://s3-ap-northeast-1.amazonaws.com/vindle/vindle-bg5.jpeg"
    , "https://s3-ap-northeast-1.amazonaws.com/vindle/vindle-bg6.jpeg"
    , "https://s3-ap-northeast-1.amazonaws.com/vindle/vindle-bg7.jpeg"
    , "https://s3-ap-northeast-1.amazonaws.com/vindle/vindle-bg8.jpeg"
    , "https://s3-ap-northeast-1.amazonaws.com/vindle/vindle-bg2.jpeg"
    , "https://s3-ap-northeast-1.amazonaws.com/vindle/vindle-bg3.jpeg"
  ], {duration: 500, fade: 3000});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42943702-1', 'vindle.it');
  ga('send', 'pageview', document.URL);

</script>