<style type="text/css">
.page{
height: 100%;
width: 95%;
background: black;
padding-top: 5%;
padding-bottom: 5%;


}

.entity {
height: 100px;
width: 200px;
margin: 5px;
float:left;
background: #2b2b2b;
#clear: both;
display: block;
}

.mainPanel{
width: 100%;
height: 90%;
#background-image:url('http://selulargroup.id.rakuten-static.com/tab2_7inch.jpg');
#background-repeat:repeat;
background: white;
overflow-x: auto;
overflow-y: hidden;
margin-left: 2%;
margin-top:100px;
}

.leftbar {
float: left;
width: 5%;
background-color: rgba(255, 255, 255, 0.8);
height: 100%;
z-index: 3000;
}

.video-name {
  text-align: left;
  margin-left: 30px;
  color: white;
  display: none;
}
.rightbar {
float: right;
width: 5%;
background: blue;
height: 100%;
background-color: rgba(255, 255, 255, 0.8);
z-index: 3000;
}

.closeBtn {
  z-index: 1000;
  display: none;
  margin-top: 10px;
  margin-left: 30px;
  position: absolute;
  color: #ffffff;
}

.title {
  margin-top: -225px;
  position: relative;
  z-index: 1000;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 93%;
  height: 30px;

}

.video-container {
  width: 80%;
  height: 85%;
  margin-left: -45%;
  margin-top: -19%;
  padding-right: 12%;
}

.control {
  #text-align: center;
  width: 90%;
  height: 100%;
}

.modal, .modal.fade.in {
 top: 45%;
}
.modal { }


.btn-success {
    float: right;
    margin-right: 30px;
    margin-top: -35px;
    min-width: 55px;
    border-radius: 0;
}

.close {
  #float: right;
  #margin-right: 30px;
  color: #000000;
  font-size: 12px;
  #margin-top: -35px;
}

.player-panel {
  #background-color: red;
  width: 20%;
  padding: 10px;
  height: 100%;
  #margin-left: 45%;
  position: absolute;
  display: inline;
  clear: both;
}
</style>

  <ul class="breadcrumb">
  <div class="sub-head">
    <a style="display: inline;" href="/bundles/"><img style=" margin-top: -10px;" src="http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/32x32/br_prev.png"></a>
    <h2 style="color:#da4834; display: inline;"><%= @bundle["bundle_name"] if @bundle %></h2>&nbsp;
    <h4 style="display: inline;">  <%= pluralize(@bundle["videos"].count, 'Video', 'Videos') %> </h4>&nbsp;&nbsp;&nbsp;
    <% if authorized_user? %>
      <a role="button" data-toggle="modal" href="#newVideoForm"> <img style="margin-top: -1px;"src="http://cdn1.iconfinder.com/data/icons/duesseldorf/16/plus.png"> Add Video </a>
    <% end %>
    <% if @user %>
      <div class="user-box">
        <h5 style="display:inline;">Hi, <a href="#"><%= @user["name"] %> </a></h5>
        <a style="color: #da4834;"href="/auth/logout" > | Logout</a>
      </div>
    <% end %>
  </div>
  </ul>

   <div class="mainPanel">
     <div class="rightbar">
     </div>
     <div class="leftbar">
     </div>
     <% @videos.each do | video |%>
       <!-- <div><a href="javascript:void(0)" class="closeBtn">X</a><span class="entity"><img src="<%= video["display_picture"]%>"></span></div> -->
       <div>
         <span id="<%= video['vid'] %>" class="entity">
           <img class="image" style="height: 100%; width: 100%;" alt="image" src="<%= video['display_picture']%>" />
         <br><div class="title"><%= video["title"][0..70] %><%= "....." if video["title"].size > 70 %></div>
         <div class="video-name">
           <br><%= video["title"]%><br>
           <span>
             <% if video["service"] == "youtube" %>
               <img height=15 width=30 src="https://developers.google.com/youtube/images/YouTube_logo_stacked_white.png">&nbsp;&nbsp;
             <% else %>
               <img height=15 width=30 src="http://www.dailymarketingblog.com/wp-content/uploads/2013/04/vimeo_logo_white_on_blue.jpg">&nbsp;&nbsp;
             <% end %>
             <%= number_with_delimiter(video["views"].to_i) %>
           </span> Views | Added by <a target="_blank" href="https://www.yammer.com/mail.rakuten.com/users/<%= video['created_by']['uid']%>"><%= video["created_by"]["name"]%></a>
           <span style="text-align: right;">&nbsp;&nbsp;&nbsp;<a style="color: white;" href=""> Close </a></span>
         </div>
         <input type="hidden" id="info-<%= video['vid']%>" value="<%= video.to_json %>">
         <a role="button" class="view btn btn-success" vid="<%= video['vid']%>" data-toggle="modal" href="#video-container"> Play </a>
         </span>
       </div>
     <% end %>
  </div>

<%#= render partial: "common/footer" %>

<% if authorized_user? %>
  <div id="newVideoForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="well">
      <%= form_tag('/videos', :method => "post") do %>
        <fieldset>
          <legend> Add new video to  <b><%= @bundle["bundle_name"]  %> </b>bundle</legend>
          <%= hidden_field_tag("user_id" , @user["uid"]) %>
          <%= hidden_field_tag("bundle_id" , @bundle["bid"]) %>
          <label>Video link </label>
          <%= text_field_tag('vlink', "", :autofocus => "true", :autocomplete => "off") %><br>
          * Supports Youtube and Vimeo urls<br>
          <%= submit_tag '+ Add' , :class => "btn btn-success", :style => "margin-top: -58px; margin-right: 170px;" %>
        </fieldset>
      <% end %>
    </div>
  </div>
<% end %>



<div id="video-container" class="modal hide fade video-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<embed id="control" class="control" src="" type="application/x-shockwave-flash">
</embed>
<div id="vinfo" class="player-panel">
  <span id="title"></span><br><br>
  <div class="presenter">
    Added by <br> <img id="added-by-pic" alt="display pic" height=48 width=48 class="pic"  src="" />  <div class="presenter-details"><span id="added-by"></span><br> on  <span id="added-date"></span></div>
  </div>
  Added By :<span id="added-by"></span></div>
</div>

<script>
    function resetInitialView() {
        $('.entity').each(function(index){
          var rand = '#'+ Math.floor(Math.random()*16777215).toString(16)
          //$(this).css("background", rand);
          /* $(this).css("height",100 + Math.floor(Math.random() * 100));
          $(this).css("width", 150 + Math.floor(Math.random() * 50));
          *///console.log("color changed" + rand);
          $(this).css("height",225);
          $(this).css("width", 300);
       });
    }

    function resetInStyle() {
      $('.entity').each(function(index){
        var rand = '#'+ Math.floor(Math.random()*16777215).toString(16)
        //$(this).css("background", rand);
        /*  $(this).css("height",100 + Math.floor(Math.random() * 100));
        $(this).css("width", 150 + Math.floor(Math.random() * 50)); */
        $(this).css("height",150);
        $(this).css("width", 200);
        $(this).fadeTo("slow", 1);
        $(this).css("float", "left");
        //console.log("color changed" + rand);
      });
    }

    $(document).ready(function(){
      resetInitialView();
     });

    $(".closeBtn").click(function(){
     // TODO will use in future
      resetInStyle();
      $(this).hide();
    });

    function hideCloseBtn(ngBtn) {
     // TODO will use in future
      cosole.log(ngBtn);
      $('.closeBtn').each(function(index){
        if(ngBtn != this) {
          $(this).hide();
        }
      });
    }

    function updateVideoContainer(vid) {
      var video = JSON.parse($("#info-" + vid).val());
      if(video.service === "youtube"){
        $("#video-container").find("#control").attr("src", "http://www.youtube.com/v/" + vid + "?autoplay=1&controls=2&rel=0");
      } else {
        $("#video-container").find("#control").attr("src", "http://vimeo.com/moogaloop.swf?clip_id=" + vid + "&amp;server=vimeo.com&amp;color=00adef&amp;fullscreen=1&autoplay=1")
      }
      
      var container = $("#video-container").find("#vinfo");
      container.find("#title").html(video.title);
      container.find("#added-by").html(video.created_by.name);
    }

    $('.entity').click(function(){
        $(this).animate({
            height: 450,
            width: 610,
            opacity: 1
        }, 600, function() {
            //$(this).fadeTo(100, 1);
            //$(this).css("float","right");
            var pageWidth = parseInt($(".mainPanel").css("width"), 10) / 2;
            var leftOffset = parseInt($(this).offset().left, 10);

            if(leftOffset > pageWidth ){
                //$(this).css("float","right");
            } else {
                //$(this).css("float","left");
            }

            //if ($(this).css("margin-right"))
        });
        $(this).css("text-align","center");
        $(this).css("padding-top","10px");
        $(this).prevAll(".closeBtn").show();
        $(this).css("height", "450px");
        $(this).css("width", "360px");
        $(this).find(".title").hide();
        $(this).find(".video-name").show();
        $(this).find(".image").css("height" ,"80%");
        $(this).find(".image").css("width" ,"90%");
        var thisvar = this;
         $('.entity').each(function(index){
                  if(this != thisvar) {
                  var rand = '#'+ Math.floor(Math.random()*16777215).toString(16)
                  //$(this).css("background", rand);
                 /*  $(this).css("height",100 + Math.floor(Math.random() * 100));
                  $(this).css("width", 150 + Math.floor(Math.random() * 50)); */
                  $(this).css("height",225);
                  $(this).css("width", 300);
                  $(this).fadeTo("fast", 0.3);
                  $(this).css("float", "left");
                  $(this).css("padding-top","0px");
                  $(this).find(".video-name").hide();
                  $(this).find(".title").show();
                  $(this).find(".image").css("height" ,"100%");
                  $(this).find(".image").css("width" ,"100%");
                  }
               });
        //hideCloseBtn($(this).prevAll(".closeBtn"));
    });

    $(".view").click(function(){
      updateVideoContainer($(this).attr("vid"));

    });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42943702-1', 'vindle.it');
  ga('send', 'pageview', document.URL);

</script>
 <%#= @bundle.to_json %> <br><br>
 <%#= @videos.to_json %>