<style>
  .footer {
    width: 100%;
    background-color: #f3f3f3;
    height: 10%;
    bottom:0;
    
    #margin-left: 110px;
    #padding: 10px;
    
  }
  
  .f-sns {
    margin-left: 70%;
    #width: 20%;
    overflow: hidden;
    margin-right: 1%;
    #padding-bottom: 3%;
    #position: absolute;
    #height: 100%;
    margin-top: 20px;
  }
</style>
<div class="footer">
  <div class="f-sns">
   Stay connected <br>
   <a href="http://www.facebook.com/Vindle" target="_blank">Official Facebook page</a> | <a href="mailto:avinash.varma4464@gmail.com?subject=[Vindle] Feedback">Feedback</a>
  </div>
</div>