<!DOCTYPE html>
<html>
<head>
  <title>Vindle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap.min" %>
  <%= javascript_include_tag "application" %>
  
  <!-- TODO migrate following scripts to ec2 -->
  <script src="http://static.scripting.com/github/bootstrap2/js/jquery.js"></script>
  <script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-transition.js"></script>
  <script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-modal.js"></script>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Prosto+One' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "jquery.backstretch.min" %>
  <style>
.breadcrumb {
  margin-top: 0px;
  position: fixed;
  width: 100%;
  z-index: 3000;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  margin-top:-100px;
}

.user-box {
  margin-left: 50px;
  font-family: 'Prosto One', cursive;
  float: right;
  display: inline;
  margin-right: 10%;
  margin-top: 10px;
}


.sub-head {
  margin-left: 30px;
  margin-bottom: 5px;
  font-family: 'Prosto One', cursive;
}

a:hover {
  text-decoration: none;
}

  </style>
</head>
<body>

<%= yield %>

<script>
$(document).ready(function() {
    $(".modal").on('shown', function() {
        $(this).find("[autofocus]:first").focus();
    });
});
</script>

</body>
</html>
